Flow_Central_monitoreo.json
[
    {
        "id": "d79baf58ba45adb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6aa6751cd331a0af",
        "type": "ui_tab",
        "name": "Central de monitoreo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e660f71b525363f5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1d2e1ffb882911d0",
        "type": "ui_group",
        "name": "Conductor 1",
        "tab": "6aa6751cd331a0af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24cd3880fc1e9cdf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.126.191.185",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4040291e52c8ec94",
        "type": "ui_group",
        "name": "Conductor 2",
        "tab": "6aa6751cd331a0af",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fec2e82b70f5d2b0",
        "type": "ui_group",
        "name": "Conductor 3",
        "tab": "6aa6751cd331a0af",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2f8d66a518a1149",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "SOMNOLENCIA",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6cf82e37.9a1db",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sys",
        "tz": "",
        "charset": ""
    },
    {
        "id": "24868ddf2fa169d5",
        "type": "mqtt in",
        "z": "d79baf58ba45adb8",
        "name": "",
        "topic": "somnolencia/miriam",
        "qos": "2",
        "datatype": "auto",
        "broker": "24cd3880fc1e9cdf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1ea9c9c1f1423da8",
                "d4db474a6ab61f8a",
                "db59746a25b34f5a"
            ]
        ]
    },
    {
        "id": "0196f45ba1136736",
        "type": "mqtt in",
        "z": "d79baf58ba45adb8",
        "name": "",
        "topic": "somnolencia/joseluis",
        "qos": "2",
        "datatype": "auto",
        "broker": "24cd3880fc1e9cdf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "fedb08ba3accdb4f",
                "0bbe3ec35706e463",
                "d4db474a6ab61f8a"
            ]
        ]
    },
    {
        "id": "13f4b6b334021621",
        "type": "mqtt in",
        "z": "d79baf58ba45adb8",
        "name": "",
        "topic": "somnolencia/luisangel",
        "qos": "2",
        "datatype": "auto",
        "broker": "24cd3880fc1e9cdf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "32e20058b59fdbdb",
                "df5b49a6f4a150fc",
                "d4db474a6ab61f8a"
            ]
        ]
    },
    {
        "id": "1ea9c9c1f1423da8",
        "type": "ui_toast",
        "z": "d79baf58ba45adb8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notificacion",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "fedb08ba3accdb4f",
        "type": "ui_toast",
        "z": "d79baf58ba45adb8",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notificacion",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "32e20058b59fdbdb",
        "type": "ui_toast",
        "z": "d79baf58ba45adb8",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notificacion",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "8a8e4ffe0091e9f2",
        "type": "ui_gauge",
        "z": "d79baf58ba45adb8",
        "name": "Conductor1",
        "group": "1d2e1ffb882911d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "{{msg1.payload}}",
        "label": "",
        "format": "{{msg2.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [],
        "info": "< HTML >\r\n< BODY > \r\n<h1> hola </h1>\r\n < /BODY >\r\n< /HTML >"
    },
    {
        "id": "0bbe3ec35706e463",
        "type": "function",
        "z": "d79baf58ba45adb8",
        "name": "",
        "func": "var salida = msg.payload.split(\";\");\nvar nombre = salida[0];\nvar contador = salida[1];\nvar fecha = salida[2];\nvar msg1 = {payload:nombre};\nvar msg2 = {payload:contador};\nvar msg3 = {payload:fecha};\nreturn {msg1, msg2, msg3};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "dd798c885e1225b0",
                "aef59f1d77b4f5ae"
            ]
        ]
    },
    {
        "id": "dd798c885e1225b0",
        "type": "ui_gauge",
        "z": "d79baf58ba45adb8",
        "name": "Conductor2",
        "group": "4040291e52c8ec94",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "{{msg1.payload}}",
        "label": "",
        "format": "{{msg2.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f7dad766db4934c",
        "type": "ui_gauge",
        "z": "d79baf58ba45adb8",
        "name": "Conductor3",
        "group": "fec2e82b70f5d2b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "{{msg1.payload}}",
        "label": "",
        "format": "{{msg2.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "d4db474a6ab61f8a",
        "type": "function",
        "z": "d79baf58ba45adb8",
        "name": "",
        "func": "var datos_mqtt = msg.payload.split(\";\");\nvar nombre = datos_mqtt[0];\nvar contador = datos_mqtt[1];\nvar fecha = datos_mqtt[2];\nmsg = {\n    \"payload\": [nombre, contador, fecha],\n    \"topic\": \"insert into Conductores (NOMBRE, CONTADOR, FECHA) VALUES (?,?,?);\"\n    };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e4094030b19829eb"
            ]
        ]
    },
    {
        "id": "e4094030b19829eb",
        "type": "mysql",
        "z": "d79baf58ba45adb8",
        "mydb": "c2f8d66a518a1149",
        "name": "",
        "x": 340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "df5b49a6f4a150fc",
        "type": "function",
        "z": "d79baf58ba45adb8",
        "name": "",
        "func": "var salida = msg.payload.split(\";\");\nvar nombre = salida[0];\nvar contador = salida[1];\nvar fecha = salida[2];\nvar msg1 = {payload:nombre};\nvar msg2 = {payload:contador};\nvar msg3 = {payload:fecha};\nreturn {msg1, msg2, msg3};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "1f7dad766db4934c",
                "e7909a74e2536dc5"
            ]
        ]
    },
    {
        "id": "db59746a25b34f5a",
        "type": "function",
        "z": "d79baf58ba45adb8",
        "name": "",
        "func": "var salida = msg.payload.split(\";\");\nvar nombre = salida[0];\nvar contador = salida[1];\nvar fecha = salida[2];\nvar msg1 = {payload:nombre};\nvar msg2 = {payload:contador};\nvar msg3 = {payload:fecha};\nreturn {msg1, msg2, msg3};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "8a8e4ffe0091e9f2",
                "ca8a1320eb02e0cb"
            ]
        ]
    },
    {
        "id": "ca8a1320eb02e0cb",
        "type": "ui_text",
        "z": "d79baf58ba45adb8",
        "group": "1d2e1ffb882911d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha y hora:",
        "format": "{{msg3.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "aef59f1d77b4f5ae",
        "type": "ui_text",
        "z": "d79baf58ba45adb8",
        "group": "4040291e52c8ec94",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha y hora:",
        "format": "{{msg3.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "e7909a74e2536dc5",
        "type": "ui_text",
        "z": "d79baf58ba45adb8",
        "group": "fec2e82b70f5d2b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha y hora:",
        "format": "{{msg3.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 440,
        "wires": []
    }
]